
body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container{
   flex: 1;

}

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
    /* imp mean jaise custom use kr rhe h bootatrap ka navbar ab chahte h ye color oveeride kr jayega to imp kr dia ye color apply ho jayega */
}
.f-info-links a{
text-decoration: none;
color: #222222;
}
.f-info-links a :hover{
text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.f-info-socials i {
    font-size: 1.2rem;
    margin-left: 1rem;
}
.f-info{
 height: 8rem;
 background-color: #ebebeb;
 display:flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: space-evenly;
 text-align: center;
}
/* cards styling */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important; 
    /* object fit mean continer ki width hoehft jitni us hisab se image ko rop kr ke set kr dega landscape me jyada  */
}

.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none !important;
    color: inherit !important;   /* parent ka color le lega */
  display: block;
}
/* card effect */

.card-text{
    color: #222222;
}
 .card-col {
  position: relative; /* required for overlay to work */
  overflow: hidden;   /* optional: keeps overlay inside image */
}
.card-img-overlay{
   opacity: 0; 
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* new page stypling */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* edit page  */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* show img */
.show-img {
     height: 30vh;
}

 .btns{
    display: flex;

 }
 .show-card{
    padding-left: 0;
    padding-right: 0;
 }